<p id="notice"><%= notice %></p>

<p>
  <b>Path:</b>
  <%= @repo.path %>
</p>

<p>
  <b>Name:</b>
  <%= @repo.name %>
</p>

<p>
  <b>Description:</b>
  <%= @repo.description %>
</p>


<%= link_to 'Edit', edit_repo_path(@repo) %> |
<%= link_to 'Back', repos_path %>
